In [1]:
# Install DataWise directly from GitHub
!pip install git+https://github.com/starpie-16/ml-prep-box.git

Collecting git+https://github.com/starpie-16/ml-prep-box.git
  Cloning https://github.com/starpie-16/ml-prep-box.git to /tmp/pip-req-build-lwlf2pk3
  Running command git clone --filter=blob:none --quiet https://github.com/starpie-16/ml-prep-box.git /tmp/pip-req-build-lwlf2pk3
  Resolved https://github.com/starpie-16/ml-prep-box.git to commit 1116ce4370953902b1db09faa2ca09ced4bfe48b
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: datawise
  Building wheel for datawise (setup.py) ... done
  Created wheel for datawise: filename=datawise-0.1.0-py3-none-any.whl size=8124 sha256=0667f31c844077cdfd1115d9a67fb9940262c581cd46f7710bf9f6e12e82c7cb
  Stored in directory: /tmp/pip-ephem-wheel-cache-w_w0c4g2/wheels/4c/80/0d/aa5c310b028213f059c3cf863ea9c8f145d385ce82f2e39454
Successfully built datawise
Installing collected packages: datawise
Successfully installed datawise-0.1.0

In [ ]:
# Import module and libraries

from datawise.engine import toolbox
import seaborn as sns
import pandas as pd


#---------------------------------------------------------------

df = sns.load_dataset('titanic')
tb = toolbox()

In [16]:
# Data & Optimization

mem_before = df.memory_usage(deep=True).sum() / 1024**2
optimized_df = tb.optimize_memory(df)
mem_after = optimized_df.memory_usage(deep=True).sum() / 1024**2

print(f"Memory Usage Before: {mem_before:.2f} MB")
print(f"Memory Usage After: {mem_after:.2f} MB")
print(f"Efficiency: {(1 - mem_after/mem_before)*100:.1f}% reduction")
print("-" * 30)

Memory Usage Before: 0.24 MB
Memory Usage After: 0.24 MB
Efficiency: 0.0% reduction
------------------------------

In [17]:
# Setup
tb.setup(
    data=optimized_df,
    target='survived',
    categorical_features=['pclass', 'sex', 'embarked']
)

# Display suggested strategies
print("\n--- SUGGESTED STRATEGIES ---")
tb.suggest()

--- INITIALIZING SETUP ---

--- SUGGESTED STRATEGIES ---
Cột                  | Đề xuất xử lý
---------------------------------------------
pclass               | onehot_encode
sex                  | onehot_encode
age                  | standard_scale
sibsp                | passthrough
parch                | passthrough
fare                 | robust_scale
embarked             | onehot_encode
class                | onehot_encode
who                  | onehot_encode
adult_male           | passthrough
deck                 | drop
embark_town          | onehot_encode
alive                | onehot_encode
alone                | passthrough

In [19]:
# Transformation

from IPython.display import display


#---------------------------------------------------------------


transformed_df = tb.apply_transform()

print("\n FINAL PROCESSED DATA (PREVIEW first 5 rows):")
display(transformed_df.head())

# Display the final general information
print("\n Final Info:")
transformed_df.info()

--- STARTING TRANSFORMATION ---
Dropped columns: ['deck']
--- TRANSFORMATION COMPLETE ---

 FINAL PROCESSED DATA (PREVIEW first 5 rows):

,survived,age,sibsp,parch,fare,adult_male,alone,pclass_1,pclass_2,pclass_3,...,class_Second,class_Third,who_child,who_man,who_woman,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,alive_no,alive_yes
0,0,-0.565736,1,0,-0.312011,True,False,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1,0.663861,1,0,2.461242,False,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
2,1,-0.258337,0,0,-0.282777,False,True,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,1,0.433312,1,0,1.673732,False,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,0,0.433312,0,0,-0.277363,True,True,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0

 Final Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 891 non-null    int8
 1   age                      891 non-null    float32
 2   sibsp                    891 non-null    int8
 3   parch                    891 non-null    int8
 4   fare                     891 non-null    float32
 5   adult_male               891 non-null    bool
 6   alone                    891 non-null    bool
 7   pclass_1                 891 non-null    float64
 8   pclass_2                 891 non-null    float64
 9   pclass_3                 891 non-null    float64
 10  sex_female               891 non-null    float64
 11  sex_male                 891 non-null    float64
 12  embarked_C               891 non-null    float64
 13  embarked_Q               891 non-null    float64
 14  embarked_S               891 non-null    float64
 15  class_First              891 non-null    float64
 16  class_Second             891 non-null    float64
 17  class_Third              891 non-null    float64
 18  who_child                891 non-null    float64
 19  who_man                  891 non-null    float64
 20  who_woman                891 non-null    float64
 21  embark_town_Cherbourg    891 non-null    float64
 22  embark_town_Queenstown   891 non-null    float64
 23  embark_town_Southampton  891 non-null    float64
 24  alive_no                 891 non-null    float64
 25  alive_yes                891 non-null    float64
dtypes: bool(2), float32(2), float64(19), int8(3)
memory usage: 143.7 KB